body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HaginCapsMedium-Medium';
    src: url('fonts/HaginCapsMedium-Medium.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: 'HaginCapsMedium-Medium';
    src: url('fonts/HaginCapsMedium-Medium.otf');
}

header {
    height: 100%;
    overflow: hidden;
    background: url('images/excursiones.jpg') no-repeat top;
    background-size: cover;
}

.container {
    width: 45%;
    height: 60%;
    position: relative;
    top: 7%;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.marca {
    width: fit-content;
    font-family: Poppins-Black;
    font-size: 2rem;
    color: rgb(10, 8, 114);
    letter-spacing: 2px;
}

.titulo {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 0px;
    font-family: HaginCapsMedium-Medium;
    font-size: 2rem;
    letter-spacing: .2rem;
    text-align: justify;
    color: rgb(44, 148, 196);
}

.aviso {
    width: 90%;
    margin-top: 10px;
    font-family: HaginCapsMedium-Medium;
    font-size: .8rem;
    line-height: 1.5rem;
    letter-spacing: .2rem;
    text-align: left;
    color: rgb(24, 26, 25);
}

.cta {
    position: absolute;
    bottom: 20%;
    right: 7%;
}

.cta a {
    border: solid;
    font-family: Poppins-normal;
    font-size: 1rem;
    text-decoration: none;
    padding: 15px 25px;
    background-color: rgba(107, 107, 107, 0.6);
    color: rgb(49, 233, 233);
}

.cta a:hover {
    color: rgb(251, 253, 255);
    background-color: rgba(7, 7, 7, 0.6);
}